@model ItemListViewModel
@{
    ViewData["Title"] = "EdApp Auction List";
}

<div class="container">
    <div class="row">
        @foreach (var item in Model.Items)
        {
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card shadow m-2">
                        <a href="@item.Url">
                            <img src="@item.PicturePath" class="card-img-top" alt="">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title"><a href="@item.Url">@item.Title</a></h5>
                            <p class="card-text">£@item.Price</p>
                        </div>
                </div>
            </div>
        }
    </div>
</div>